<div class="campain-list">
  <h3>Campanhas de fiscalização</h3>

  <table *ngIf="campainsList$ | async as campainsList">
    <thead>
      <tr>
        <th>Campanha</th>
        <th>Agente Público</th>
        <th>Autor</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let campain of campainsList"
        [routerLink]="['/campain', campain.id]"
        class="pointer"
      >
        <td>{{ campain.title }}</td>
        <td>{{ campain.agent.name }}</td>
        <td>{{ campain.author.name }}</td>
        <td>
          <img
            [src]="campain.author.photo"
            [alt]="campain.author.name + ' user photo'"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
