<div class="campain-list content-width">
  <h3>Campanhas de fiscalização</h3>

  <table *ngIf="campainsList$ | async as campainsList">
    <thead>
      <tr>
        <th>Campanha</th>
        <th>Agente Público</th>
        <th>Autor</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let campain of campainsList"
        [routerLink]="['/campain', campain.id]"
        class="pointer"
      >
        <td>
          <a [routerLink]="['/campain', campain.id]">{{ campain.title }}</a>
        </td>
        <td>
          <a [routerLink]="['/agent', campain.agent.id]">{{
            campain.agent.name
          }}</a>
        </td>
        <td>
          <a [routerLink]="['/profile', campain.author.id]">{{
            campain.author.name
          }}</a>
        </td>
        <td>
          <img
            class="avatar"
            [src]="campain.author.photo"
            [alt]="campain.author.name + ' user photo'"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
