.profile-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-wrapper {
  display: flex;
  gap: 24px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
